body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.higher{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main{
    width: 350px;
    height: 600px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    padding-top: 30px;
}
.input{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100px;
    width: 94%;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    

}
#pre{
    text-align: end;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    width: 100%;

}

input{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    
}
button:hover{
    background-color:rgb(161, 161, 161);
}
.number{
    margin-left: 20px;
    margin-right: 20px;
    
    
    
}
.numberdiv{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.numberdiv1{
    display: flex;
    margin-top: 20px;
    justify-content:space-around;
}